
input {
    margin: 10px;
    height: 1.5em;
    font-size: 18px;
    background-color: yellow;
    text-indent: .5em;
    outline: 1px solid purple;
    border: 1px solid lightgray;
}

label {
    color: purple;
    font-style: italic;
    margin: 5px;
}

select {
    zoom: 1.5;
    background-color: yellow;
    color: gray;
}

button {
    border-radius: 15px;
    width: 4em;
    font-size: 15px;
    color: purple;
    margin-top: 3px;
    border: 2px solid purple;
    background-color: red;
    justify-content: center;
}

button:hover {
    background: yellow;
}