

input {
    margin: 10px;
    height: 1.5em;
    font-size: 18px;
}

label {
    color: purple;
    font-style: italic;
}

button {

    border-radius: 15px;
    width: 4em;
    font-size: 15px;
    color: purple;
    margin-top: 3px;
    border: 2px solid purple;
    background-color: red;
    justify-content: center;
}

button:hover {
    background: yellow;
}

/* select {
    
} */