
form {
    text-align: center;
}
input {
    margin: 20px;
    height: 1.5em;
    font-size: 16px;
    text-indent: .5em;
    width: 12em;
}

input[type=number] {
    width: 4em;
}

fieldset {
    border: .5px solid red;
    padding: 15px auto;
    display: table-row;
}

label {
    color: yellowgreen;
    font-style: italic;
    font-weight: 100;
    text-align: left;
    margin-left: 20px;
}

select {
    /* zoom: 1.5; */
    margin: 20px;
    zoom: 1em;
    font-size: 16px;
    background-color: white;
    width: 8em;
}

button {
    border-radius: 15px;
    width: 5em;
    height: 3em;
    font-size: 15px;
    color: purple;
    border: 2px solid purple;
    background-color: red;
}

button:hover {
    background: yellow;
}

p#submit-message-response {
    font-size: 24px;
    color: yellow;
}


/* ------ table -------- */
td {
    color: yellowgreen;
    font-weight: 100;
    font-style: italic;
    justify-content: space-between;
}