* {
    font-family: Helvetica, sans-serif;
    /* box-sizing: border-box; */
    /* margin: 0px auto; */
}

/* ----------- Body > Header styles ----------- */
body {
    background-color: purple;
    align-content: center;
}

header {
    background-color: purple;
}

h1 {
    background-color: purple;
    color: red;
    font-style: italic;
    font-size: 40px;
    padding: 2px;
    text-align: center;
}

/* ----------- Body > Main styles ----------- */
h2 {
    color: purple;
    text-align: center;
}

main {
    background-color: purple;
}

div {
    padding: 15px 0px 25px 0px;
    background-color: yellowgreen;
}

h3 {
    color: purple;
    text-align: center;
    font-style: italic;
}

p {
    color: purple;
}

section {
    background-color: yellowgreen;
    /* display: flex; */
    width: 100%;
    /* flex-direction: row; */
    /* padding: 10px; */
    /* flex-flow: wrap; */
}

footer {
    display: flex;
    padding: 2em;
    background-color: yellowgreen;
}